node_modules/
.idea/
.vscode/
dist/
vendor/
logs/
.sass-cache/


*.exe
*.exe~
*.log
*.sum
*.http
*.dat
*.db

/apps/BlockWord/blockword
/apps/ConfigCenter/configcenter
/apps/GrpcClient/grpcclient
/apps/IM/im
/apps/ImgHelper/imghelper
/apps/Push/push
/apps/ShortLink/shortlink
/apps/WordHelper/wordhelper

# macos
.DS_Store

